<div [formGroup]="collectiveForm" style="display: flex; flex-direction: column; align-items: center; height: 100vh;">
  <div class="card flex justify-center">
    <input type="text" pInputText formControlName="inputField" />
    @if (collectiveForm.get('inputField')?.hasError('required') && collectiveForm.get('inputField')?.touched) {
    <p-message id='inputFieldRequired' severity="error" variant="simple" size="small">InputField is required</p-message>
    }
    @else if (collectiveForm.get('inputField')?.hasError('minlength') &&
    !collectiveForm.get('inputField')?.hasError('required')){
    <p-message id="inputFieldMinLength" severity="error" variant="simple" size="small">InputField min-length should not
      exceed more than than
      2</p-message>
    }
    @else if(collectiveForm.get('inputField')?.hasError('maxlength') &&
    !collectiveForm.get('inputField')?.hasError('minlength')) {
    <p-message id="inputFieldMaxLength" severity="error" variant="simple" size="small">InputField max-length should not
      exceed more than than
      10</p-message>
    }
  </div>
  <div class="card flex justify-center">
    @for (category of categories; track category.key){
    <div class="flex flex-col gap-4">
      <div class="flex items-center">
        <p-checkbox [inputId]="category.key" name="group" [value]="category" formControlName="checkboxField" />
        <label [for]="category.key" class="ml-2"> {{ category.name }} </label>
      </div>
    </div>
    }
    @if (collectiveForm.get('checkboxField')?.hasError('required') && collectiveForm.get('checkboxField')?.touched) {
    <p-message id="checkBoxFieldRequired" severity="error" variant="simple" size="small">checkboxField is
      required</p-message>
    }
  </div>
  <div>
    <p-datepicker formControlName="dateField" dateFormat="dd.mm.yy" />
    @if (collectiveForm.get('dateField')?.hasError('required') && collectiveForm.get('dateField')?.touched) {
    <p-message id="dateFieldRequired" severity="error" variant="simple" size="small">dateField is required</p-message>
    }
  </div>
  <div>
    <p-multiselect [options]="cities" formControlName="multiSelectField" optionLabel="name" placeholder="Select Cities"
      [maxSelectedLabels]="3" styleClass="w-full md:w-80" />
    @if (collectiveForm.get('multiSelectField')?.hasError('required') &&
    collectiveForm.get('multiSelectField')?.touched) {
    <p-message id="multiSelectFieldRequired" severity="error" variant="simple" size="small">multiSelectField is
      required</p-message>
    }
  </div>
  <div>
    <p-toggleswitch formControlName="togglefield" />
    @if (collectiveForm.get('togglefield')?.hasError('required') &&
    collectiveForm.get('togglefield')?.touched) {
    <p-message id="toggleFieldRequired" severity="error" variant="simple" size="small">togglefield is
      required</p-message>
    }
  </div>
  <div>
    <p-select formControlName="selectfield" [options]="cities" optionLabel="name" placeholder="Select a City"
      class="w-full md:w-56" />
    @if (collectiveForm.get('selectfield')?.hasError('required') &&
    collectiveForm.get('selectfield')?.touched) {
    <p-message id="selectFieldRequired" severity="error" variant="simple" size="small">selectfield is
      required</p-message>
    }
  </div>
  @for (item of categories1; track item.key) {
  <div class="field-checkbox">
    <p-radiobutton [inputId]="item.key" name="radiofield" [value]="item" formControlName="radiofield" />
    <label [for]="item.key" class="ml-2">{{ item.name }}</label>
  </div>
  }
  @if (collectiveForm.get('radiofield')?.hasError('required') &&
  collectiveForm.get('radiofield')?.touched) {
  <p-message id="radioButtonFieldRequired" severity="error" variant="simple" size="small">radiofield is
    required</p-message>
  }

  <div class="card flex justify-center" style="margin-top: 40px;">
    <p-button label="Submit" [style]="{width: '80px', height: '40px'}" (onClick)="submitForm()" />
  </div>

  <div class="card flex justify-center" style="margin-top: 40px;">
    <p-button label="Reset" [style]="{width: '80px', height: '40px'}" (onClick)="resetForm()" />
  </div>
  <div class="card flex justify-center" style="margin-top: 40px;">
    <p-button label="Patch Form Value" [style]="{width: '160px', height: '40px'}"
      (onClick)="patchvaluesInForm(patchValueData)" />
  </div>
  <div class="card flex justify-center" style="margin-top: 40px;">
    <p-button label="Set Form Value" [style]="{width: '160px', height: '40px'}"
      (onClick)="setValuesInForm(setValueData)" />
  </div>
</div>

<app-form-array />